* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* height: 100vh; */
}

section h1 {
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  text-shadow: #000 5px 5px 25px;
  letter-spacing: 3px;
}

section p {
  font-size: 1.5rem;
  text-shadow: #000 5px 5px 25px;
}

section#hjem {
  background: url(./imgs/inova.jpg) no-repeat center center/cover;
  height: 100vh;
}

.timeplan-container {
  background-color: #2a9d8f;
  width: 100%;
  height: 100vh;
}
.timeplan-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

#inova {
  background-color: #e76f51;
  padding: 6.25em 0;
}
.om-inova-container {
  width: 80%;
  max-width: 56em;
  margin: 0 auto;
}

#omoss {
  background-color: #e9c46a;
  padding: 10.75em 0;
}
.om-oss-container {
  width: 100%;
  max-width: 70em;
  margin: 0 auto;
}

.cards-container {
  margin-top: 2em;
  /* border: 2px solid red; */
  position: relative;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 450px;
  /* perspective: 1200px; */
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover,
.flip-card:focus,
.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: #333;
  color: white;
}
.flip-card-front img {
  width: 80%;
  border-radius: 10px;
}

.flip-card-back p {
  padding: 0 0.5em;
  font-size: 21px;
}

.flip-card-back {
  padding-top: 1em;
  padding-bottom: 2em;
}

.title {
  color: grey;
  font-size: 18px;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.kontakt-container {
  background-color: #264653;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 6.25em 0;
}

.dropbtn {
  background-color: snow;
  color: skyblue;
  border: 2px solid skyblue;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 500px;
  border-radius: 5px;
  margin-top: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  margin-top: 2px;
}
.dropdown-content a {
  padding: 10px 220px;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  gap: 3.5em;
  flex-wrap: wrap;
  justify-content: center;
}

.split > * {
  flex-basis: 30%;
  min-width: 20em;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.mapouter {
  /* position: relative; */
  text-align: right;
  height: 288px;
  width: 80%;
  padding-top: 2em;
}

.gmap_canvas {
  height: 288px;
  width: 80%;
  border-radius: 1em;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}
@media screen and (max-width: 748px) {
  .dropbtn {
    width: 100%;
  }
  .dropdown-content a {
    padding: 0;
  }
  .navbar ul li {
    margin: 0;
    padding: 10px;
  }
  .navbar ul li a {
    font-size: 1.1em;
    align-items: center;
    margin: auto;
  }
}
